HTML  CSS   Result
Edit on
@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');
body {   font-family: Helvetica, san-serif;
  background: -webkit-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* W3C */ }
.block {
    display:block;
}
.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
.card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 100px;
    left: 0;
    float:right;
    margin-right: 15%;
    margin-left:15%;
    overflow: hidden;
    position: relative;
    right: 0;
    margin-top: 7%;
    width: 70%;
}
.questionarea{
    display: none;
}
.card:hover {
    height: 600px;
    display:table;
}
.card:hover .questionarea{
    display: block;
}
.card:hover .cta-container {
    display: inline;
    margin-top: 12%;
}
.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}
.card:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 1%;
}
.card:hover h2 small { color: #fff }
.card:hover p { margin-top: 0% }
.card_circle {
    background-color: #3487f7;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 950px;
}
h2 {
    color: #3487f7;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
p {
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.cta-container {
    display: none;
    margin-top: 300px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.green-btn{
    border: 2px solid #00b300;
    background-color: #00b300;
}
.green-btn:hover{
    background-color: #008000;
}
.red-btn{
    border: 2px solid #cc0000;
    background-color: #cc0000;
}
.red-btn:hover{
    background-color: #b30000;
}
.yellow-btn{
    border: 2px solid #ffa31a;
    background-color: #ffa31a;
}
.yellow-btn:hover{
    background-color: #e67300;
}
.cta:hover {
    color: #fff;
    text-decoration: none;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.progress-bar-grey{
    background-color: darkgrey;
    opacity: 0.5; /* opacity [0-1] */
    -moz-opacity: 0.5; /* opacity [0-1] */
    -webkit-opacity: 0.5; /* opacity [0-1] */
}

.progress{
    opacity: 0.8; /* opacity [0-1] */
    -moz-opacity: 0.8; /* opacity [0-1] */
    -webkit-opacity: 0.8; /* opacity [0-1] */
}

.filter-section{
    float:left;
    position:absolute;
}

.search-bar{
    margin-left: 1.5%;
    width:50%;
    margin-top: 2%;
}
.filter-btn{
    margin-top:6%;
    margin-left:1.7%;
}

.museum-btn{
    margin-top: 0.6%;
    margin-left: 1.7%;
}

.progress{
    display:none;
}

.search-bar{
    width :28%;
}

.close{
    margin-right: 1%;
}

.form_style{
    margin:auto;
}

.right_align{
    float:right;
}

.leftt_align{
    float:left;
}