.modal-footer {   border-top: 0px; }

#loginModal {
    background : url('static/images/museum_background.jpeg') no-repeat;
    width: 100%;
    max-width: 1920px;
    background-size: 100%;
}

#compareModal {
    background : url('/static/images/painting_background.jpeg') no-repeat;
    width: 100%;
    max-width: 1920px;
    background-size: 100%;
}

#new-user-text{
    color:#737373;
}

#login-container{
    margin-top: 18%;
}

#entity-container{
    margin-top: 2%;
}


.btn-gray, .btn-gray:hover, .btn-gray:active, .btn-gray:visited {
    background-color: #737373 !important;
    border-color: #737373;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}