.modal-footer {   border-top: 0px; }

#loginModal {
    background : url('/static/images/museum_background.jpeg') no-repeat;
    width: 100%;
    max-width: 1920px;
    background-size: 100%;
}

#compareModal {
    background : url('/static/images/painting_background.jpeg') no-repeat;
    width: 100%;
    max-width: 1920px;
    background-size: 100%;
}

#submit-btn{

}

#login-container{
    margin-top: 25%;
}

#entity-container{
    margin-top: 2%;
}