<div class="card transition block">
	<head>
		<link rel="stylesheet" type="text/css" href="cards.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="bootstrap.min.css" rel="stylesheet">
	</head>
	<div>
		<h2 class="transition">Leonardo da Vinci</h2>
		<p style = "text-align: center; margin-left: 10%; margin-right: 10%; width: 80%">April 15, 1452, Anchiano | May 2, 1519, Amboise, France | Mona Lisa | The Last Supper</p>
	</div>
	<div class="cta-container transition">
		<div class="questionarea">
			<div class="modal-body">
				<table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Match</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr>
                      <td>Name<br/>Birth<br/>Death<br/>Art</td>
                      <td>Leonardo da Vinci<br/>April 15, 1452, Anchiano<br/>May 2, 1519, Amboise, France<br/>Mona Lisa, The Last Supper</td>
                    </tr> 
                  </tbody>
                </table>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Mismatch</th>
                      <th>Value1</th>
                      <th>Value2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Artwork</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                    <tr>
                      <td>Artwork2</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
		</div>
		<a href="#" class="cta green-btn">Yes</a>
		<a href="#" class="cta red-btn">No</a>
		<a href="#" class="cta yellow-btn">Not Sure</a>
	</div>
	<div class="card_circle card_circle1 transition"></div>
</div>

<div class="card transition block">
	<head>
		<link rel="stylesheet" type="text/css" href="cards.css">
	</head>
	<div>
		<h2 class="transition">Vincent Van Gogh</h2>
		<p style = "text-align: center; margin-left: 10%; margin-right: 10%; width: 80%">March 30, 1853, Zundert, Netherlands | July 29, 1890, Auvers-sur-Oise, France | The Starry Night | Irises</p>
	</div>
	<div class="cta-container transition">
		<div class="questionarea">
			<div class="modal-body">
				<table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Match</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr>
                      <td>Name<br/>Birth<br/>Death<br/>Art</td>
                      <td>Vincent Van Gogh<br/>March 30, 1853, Zundert, Netherlands<br/>July 29, 1890, Auvers-sur-Oise, France<br/>The Starry Night, Irises</td>
                    </tr> 
                  </tbody>
                </table>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Mismatch</th>
                      <th>Value1</th>
                      <th>Value2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Artwork</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                    <tr>
                      <td>Artwork2</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
		</div>
		<a href="#" class="cta green-btn">Yes</a>
		<a href="#" class="cta red-btn">No</a>
		<a href="#" class="cta yellow-btn">Not Sure</a></div>
	<div class="card_circle card_circle2 transition"></div>
</div>

<div class="card transition block">
	<head>
		<link rel="stylesheet" type="text/css" href="cards.css">
	</head>
	<div>
		<h2 class="transition">Rembrandt</h2>
		<p style = "text-align: center; margin-left: 10%; margin-right: 10%; width: 80%">July 15, 1606, Leiden, Netherlands | October 4, 1669, Amsterdam, Netherlands | The Night Watch | The Storm on the Sea of Galilee</p>
	</div>
	<div class="cta-container transition"><div class="questionarea">
			<div class="modal-body">
				<table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Match</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr>
                      <td>Name<br/>Birth<br/>Death<br/>Art</td>
                      <td>Rembrandt<br/>July 15, 1606, Leiden, Netherlands<br/>October 4, 1669, Amsterdam, Netherlands<br/>The Night Watch, The Storm on the Sea of Galilee</td>
                    </tr>
                  </tbody>
                </table>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Mismatch</th>
                      <th>Value1</th>
                      <th>Value2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Artwork</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                    <tr>
                      <td>Artwork2</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
		</div>
		<a href="#" class="cta green-btn">Yes</a>
		<a href="#" class="cta red-btn">No</a>
		<a href="#" class="cta yellow-btn">Not Sure</a></div>
	<div class="card_circle card_circle3 transition"></div>
</div>

<div class="card transition block">
	<head>
		<link rel="stylesheet" type="text/css" href="cards.css">
	</head>
	<div>
		<h2 class="transition">Michelangelo</h2>
		<p style = "text-align: center; margin-left: 10%; margin-right: 10%; width: 80%">March 6, 1475, Caprese Michelangelo, Italy | February 18, 1564, Rome, Italy | Sistine Chapel ceiling | David</p>
	</div>
	<div class="cta-container transition"><div class="questionarea">
			<div class="modal-body">
				<table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Match</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr>
                      <td>Name<br/>Birth<br/>Death<br/>Art</td>
                      <td>Michelangelo<br/>March 6, 1475, Caprese Michelangelo, Italy<br/>February 18, 1564, Rome, Italy<br/>Sistine Chapel ceiling, David</td>
                    </tr>
                  </tbody>
                </table>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property Mismatch</th>
                      <th>Value1</th>
                      <th>Value2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Artwork</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                    <tr>
                      <td>Artwork2</td>
                        <td>The Rocky Mountains, Lander's peak <br/> The Last of the Buffalo</td>
                        <td>The Rocky Mountains <br/> The Last of the Buffalo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
		</div>
		<a href="#" class="cta green-btn">Yes</a>
		<a href="#" class="cta red-btn">No</a>
		<a href="#" class="cta yellow-btn">Not Sure</a></div>
	<div class="card_circle card_circle4 transition"></div>
</div>