<!DOCTYPE html>
<html>
    <head>
        <title>Curation Dashboard</title>
        <link rel="stylesheet" type="text/css" href="static/css/cards.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <style>
            html, body, .filter-section, .cards{
                margin: 0;

                padding: 0;

                min-width: 100%;
                width: 100%;
                max-width: 100%;

                min-height: 100%;
                height: 100%;
                max-height: 100%;
            }
        </style>
        <script type="text/javascript">
               $(".close").click(function(){
                    $("#zero").css("display", "none");
                });

                var sv = '{{server}}'.concat("v1/question?stats=true&count=10")
                $.ajax({
                    type: "GET",
                    url: sv,
                    success: function(data){
                        console.log(data.length);
                        for(i = 0; i < data.length; i++)
                        {
                            console.log(data[i]);
                            populateCard(data[i],i);
                        }
                    }
                });

            function populateExactMatch(data, divid) {
                var tr = "";
                var names = data.name;
                var values = data.value;
                if(names.length == 0){
                    tr += "<td>None of the records matched</td>";
                }
                for(var index in names) {
                    tr += "<tr>"
                    nametrim = names[index].replace("schema:",'');

                    if(names[index] == "schema:birthPlace") {
                        tr += "<td>Name: " + values[index]['schema:name'] + "</td>";
                    }
                     else if(nametrim == "URI"){
                        tr += "<td><a target='_blank' href='" + values[index] + "'>" + lValues[index] + "</a></td>";
                    }
                    else {
                        if(nametrim == "name"){
                            var name_header = document.getElementById("name_header");
                            name_header.innerHTML = values[index];
                        }
                        tr += "<td>" + values[index] + "</td>";
                    }
                    tr += "</tr>";
                }
                document.getElementById("exactMatch" + divid).innerHTML = tr;
                console.log(document.getElementById("cards"));
            }

            function populateNoMatch(data, divid) {
                var names = data.name;
                var lValues = data.lValue;
                var rValues = data.rValue;

                var tr = "";
                for(var index in names) {

                    tr += "<tr>"
                    nametrim = names[index].replace("schema:",'');
                    tr += "<td class='right_align'>" + nametrim + "</td>";

                    if(names[index] == "schema:birthPlace") {
                        tr += "<td>Name: " + lValues[index]['schema:name'] + "</td>";
                        tr += "<td>Geo: Lat: " + rValues[index]['schema:geo']['schema:latitude'] + " Long: " + rValues[index]['schema:geo']['schema:longitude']+  "<br/>Name: " + rValues[index]['schema:name'] + "</td>";
                    }
                     else if(nametrim == "URI"){
                        tr += "<td><a target='_blank' href='" + lValues[index] + "'>" + lValues[index] + "</a></td>";
                        tr += "<td><a target='_blank' href='" + rValues[index] + "'>" + rValues[index] + "</a></td>";
                    }
                    else {
                        if(nametrim == "name"){
                            var name_header = $('#name_header')
                            name_header.innerHTML = lValues[index] + ", " + rValues[index];
                        }

                        if(lValues[index] == null)
                            tr += "<td>" + "-" + "</td>";
                        else
                            tr += "<td>" + lValues[index] + "</td>";
                        if(rValues[index] == null)
                            tr += "<td>" + "-" + "</td>";
                        else
                            tr += "<td>" + rValues[index] + "</td>";
                    }
                    tr += "</tr>";
                }
                document.getElementById("noMatch" + divid).innerHTML = tr;
                console.log(document.getElementById("cards"));
            }

            function populateCard(data,divid) {
                $.ajax({
                    method: "GET",
                    url: "/cards",
                    success: function (card) {
                        content = card;
                        searchTxt = "<div id ='";
                        pos = content.search(searchTxt);
                        content = content.slice(0, pos + searchTxt.length) + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "<tbody class = 'exactMatch' id ='";
                        pos = content.search(searchTxt);
                        console.log(pos)
                        content = content.slice(0, pos + searchTxt.length) + "exactMatch" + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "<tbody class = 'noMatch' id ='";
                        pos = content.search(searchTxt);
                        console.log(pos)
                        content = content.slice(0, pos + searchTxt.length) + "noMatch" + divid + content.slice(pos + searchTxt.length);
                        searchTxt = "<div id = 'footer'";
                        pos = content.search(searchTxt);
                        document.getElementById("cards").innerHTML += content.slice(0, pos + searchTxt.length) + data['qid'] + content.slice(pos + searchTxt.length);
                        console.log(document.getElementById("cards"));
                        console.log("Data parsed:")
                        console.log(data);

                    },
                    complete: function () {
                        populateExactMatch(data.ExactMatch, divid);
                        populateNoMatch(data.Unmatched, divid);
                    }
                });
            }
       </script>

</head>
    <body>
        <div class="page" id="page">
        <div class="filter-section">
             <div id = "header">{% include 'header_search.html' %}</div>
        </div>
        <div class="cards" id = "cards"></div>
        </div>
    </body>
</html>